body{
    background-color: aqua;
    
}

.DivParentP{
    background-color: blue;
    

}

#DivEnfant1{
    background-color: blueviolet;
    width: 30%;
}

#DivEnfant2{
    background-color: violet;
    width: 70%;
    float: right;
    height: 700px;
    
    
}